*.as linguist-language=ActionScript

PreProcessing/**/*.ipynb linguist-detectable=true
PreProcessing/**/*.R linguist-detectable=true

Machine_Learning/**/*.R linguist-detectable=true
Machine_Learning/**/*.ipynb linguist-detectable=true

Exploratory_Data_Analysis/**/*.R linguist-detectable=true
Exploratory_Data_Analysis/**/*.ipynb linguist-detectable=true
